main.error-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #F3F0EC;
}

main.error-not-found .not-found-header {
    margin: 20px 20px;
    font-size: 9em;
    text-align: center;
}

main.error-not-found .not-found-caption {
    margin: 20px 20px;
    font-size: 1.4em;
    text-align: center;
}

main.error-not-found .not-found-back {
    margin: 30px 20px 60px;
    text-align: center;
}

main.error-not-found .not-found-back a {
    color: #5F4A33;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 300ms ease-out;
}

main.error-not-found .not-found-back a:hover,
main.error-not-found .not-found-back a:focus,
main.error-not-found .not-found-back a:active {
    color: #A8947E;
    transition: all 350ms ease-in;
}