section.help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F3F0EC;
}

section.help .content {
    width: 80%;
    margin-bottom: 3%;
}

section.help h1.title-help {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
}

section.help .content-help {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

section.help .content-help a {
    color: #5F4A33;
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms ease-out;
}

section.help .content-help a:hover,
section.help .content-help a:focus,
section.help .content-help a:active {
    color: #A8947E;
    transition: all 350ms ease-in;
}

section.help .second-title {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}