section.help {
    background: #F3F0EC;
    padding: 2% 0 2%;
}

section.help h1.title-help {
    padding: 30px 0;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

section.help .content-help {
    text-align: center;
    margin-bottom: 30px;
}

section.help .content-help a {
    color: #5F4A33;
    text-decoration: none;
    font-weight: bold;
}

section.help .second-title {
    text-align: center;
    padding-bottom: 12px;
}