@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: #5F4A33;
    font-family: Libre Caslon Display;
}
