.barra {
    width: 100%;
    background: #F3F0EC;
    border-top: 1px dashed #5F4A33;
    border-bottom: 1px dashed #5F4A33;
}

.barra .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 80px;
    margin: 0 auto;
}

.barra .contenedor h1 {
    color: #5F4A33;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}