footer {
    position: absolute;
    width: 100%;
    background-color: #F3F0EC;
    z-index: 999;
}

footer h1 {
    font-size: 1.2em;
    color: #5F4A33;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

footer .social {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

footer .social img {
    width: 25px;
    margin: 0 20px;
}

footer span {
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: #5F4A33;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

footer ul.more-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

footer ul.more-links li {
    list-style: none;
    padding: 0 20px;
}

footer ul.more-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

footer ul.more-links li a span {
    display: block;
    color: #5F4A33;
    font-size: 1em;
    margin-top: 15px;
    transition: all 350ms ease-out;
}

footer ul.more-links li a:hover span,
footer ul.more-links li a:focus span,
footer ul.more-links li a:active span {
    color: #A8947E;
    transition: all 350ms ease-in;
}