* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: sans-serif;
  color: #5F4A33;
  user-select: none;
  background: #FFFFFF;
}