body{
  margin: 0;
}
.background-login{
  position: absolute;
   margin: 0;
   padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/img-3.jpeg');
    background-size:cover;
    background-position: center;
}


/*
.text-login{
    color: #ffffff;
    font-family: 'Libre Caslon Text';
    font-size: 26px;
    margin-bottom: 20px;
    padding: 40px;
}

.form-login{
    filter:drop-shadow(10px 10px 100px  black);
} */

/* After  */

.flexbox{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
  
  }
  
  .display-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-form{
    width: 500px;
    height: 667px;
    background-color: #ffffff34;
    color: aliceblue;
    backdrop-filter: blur(6px);
  }

  
  .title-form{
    margin-bottom: 30px;
    margin-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;

  }
  
/*   .terms{
    text-align: center;
    color: #4FA3A5;
  }
  .terms a{
    text-align: center;
    color: #fff;
    text-decoration: none;
  } */
  
  .input{
    background-color: #ffffff85;
    border: none;
    outline: none;
    width: 81%;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    padding: 15px;
  }
  .input::placeholder { color: #352F29; }
  
  .form-chiche{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .center{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .btn-Submit{
    margin-top: 30px;
    width: 250px;
    height: 40px;
    background-color: #F3F0EC;
    color: #5F4A33;
    transition: all .7s;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-family: 'Libre Caslon Display';
  }
  
  .btn-Submit:hover{
    transition: all .7s;
    background-color: #352F29;
    color: #F3F0EC;
  }

  .center p{
    margin-top: 20px;
    font-family: 'Libre Caslon Display';
    font-size: 18px;
  }

  .center a{
    color: #352F29;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Libre Caslon Display';
    transition: all .7s;
    font-size: 18px;
  }

  .center a:hover{
    color: #F3F0EC;
    transition: all .7s;
  }
  
