table {
    text-align: center;
}
.container-admin{
    width: 100%;
    min-height: 500px;
} 

/* 1.-TIPOGRAFIA NUEVA PARA LAS FILAS Y COLUMNAS */

 table th {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

table td {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
} 

/* BOTON HOVER VERTICAL */

 .botones {
    display: flex;
    justify-content: center;
}

.container-admin .btn {
    text-align: center;
    font-size: 18px;
}

.container-admin .btn {
    color: white;
}

.container-admin .btn {
    background: rgb(232, 24, 24);
    color: white;
    border: 2px solid rgb(232, 24, 24);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.container-admin .btn:hover {
    color: black;
}

.container-admin .btn::after {
    background: red;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.container-admin .btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.row {
    width: 100%;
    height: 20%;
} 

/* 

    BOTON HOVER RIGHT

.container .btn {
    background: #fff; 
    color: #4741d7; 
    border: 2px solid #4741d7; 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }

  .container .btn:hover {
    color: #fff; 
  }

  .container .btn::after {
    content: "";
    background: #4741d7;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .container .btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  } 
  */