main.home {
    width: 100%;
}

section.order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #F3F0EC;
}

section.order .content {
    width: 90%;
    height: 80%;
    background: #F3F0EC;
}

section.order .content h1 {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    color: #5F4A33;
}

section.order .content p {
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: #5F4A33;
}

section.order .content .button-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    margin: 0 auto;
    margin-top: -50px;
}

section.order .content .button-images img.img1 {
    width: 240px;
}

section.order .content .button-images img {
    width: 240px;
}

section.order .content .button-images a.btn {
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 0.4em;
    background: #5f4a33;
    color: #FFFFFF;
    transition: all 300ms ease-out;
}

section.order .content .button-images a.btn:hover,
section.order .content .button-images a.btn:focus,
section.order .content .button-images a.btn:active {
    background-color: #352F29;
    transition: all 350ms ease-in;
}

div.pintura {
    width: 100%;
    height: 245px;
    background: url('../img/pintura.svg')transparent repeat-x;
}

section.products {
    width: 100%;
    margin-top: 50px;
}

section.products .text {
    width: 30%;
    margin: 0 auto;
    border-top: 3px solid #5F4A33;
}

section.products h2 {
    margin-top: 30px;
    text-align: center;
}

section.products .cards {
    margin: 30px 0;
}

section.products .cards .card {
    margin: 25px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
}

section.products .cards .card-top h2 {
    margin-top: 4px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
}

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: #F3F0EC;
}

section.about .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

section.about .wrap img.image-cake {
    width: 350px;
}

section.about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 6%;
}

section.about .content p {
    margin: 40px 0;
    text-align: center;
}

/*
@media only screen and (max-width: 576px) {
    section.about>div {
        display: flex;
        flex-direction: column !important;
    }

    section.about div img {
        margin-top: -100px;
        margin-bottom: 130px;
    }

    section.about .content {
        height: 0;
        width: 100%;
        margin: 0;
    }

    section.order .content .button-images img.img1 {
        display: none;
    }

    section.order .content .button-images img {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    section.order .content .button-images {
        width: 80%;
    }
}

@media only screen and (max-width: 1070px) {
    section.about>div img {
        width: 280px;
    }
}

@media only screen and (max-width: 1000px) {
    section.order .content .button-images {
        width: 90%;
    }

    section.order .content {
        width: 100%;
    }
}

@media only screen and (max-width: 792px) {
    section.products .cards .card {
        margin: 50px;
    }

    section.products .text {
        width: 53%;
    }
}

@media only screen and (max-width: 830px) {
    section.order .content .button-images {
        width: 95%;
    }

    section.order .content {
        width: 100%;
    }

    section.order .content h1 {
        font-size: 2.4em;
    }

    section.order .content p {
        font-size: 1.2em;
    }

    section.order .content a.btn {
        font-size: 1em;
        margin-top: 110px;
    }

    section.order .content .button-images img.img1 {
        width: 150px;
    }

    section.order .content .button-images img {
        width: 150px;
    }
}*/