.container-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #FFFFFF url("../icons/pattern-cookies.svg") repeat center;
    background-size: 460px;
    border-bottom: 1px dashed #5F4A33;
}

.container-cards .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
}

.container-cards .texto h2 {
    text-align: center;
    color: #5F4A33;
    text-shadow: 2px 1px 3px rgba(150, 150, 150, 0.8);
    margin-bottom: 20px;
    font-size: 2em;
}

.container-cards .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7%;
}

.container-cards .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 138px;
    height: 138px;
    margin: 20px;
    background: rgba(243, 240, 236, 0.50);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    cursor: pointer;
}

.container-cards .cards .card img {
    width: 60px;
    height: 60px;
    transition: transform .8s ease;
}

.container-cards .cards .card:hover img {
    transform: scale(1.1);
}

.container-cards .cards .card-title {
    width: 100%;
}

.container-cards .cards .card-title h3 {
    margin-top: 13px;
    color: #5F4A33;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    transition: transform .8s ease;
}

.container-cards .cards .card:hover .card-title h3 {
    transform: scale(1.1);
}

@media only screen and (max-width: 712px) {
    .container-cards {
        height: 100%;
    }

    .container-cards .cards {
        width: 70%;
    }
}

@media only screen and (max-width: 509px) {
    .container-cards .cards {
        width: 100%;
    }

    .container-cards .cards .card {
        margin: 16px;
    }
}